<%# learn this flash from https://www.youtube.com/watch?v=2tKObYPDclY&t=1017s  %>
<br>
<% flash.each do |name, msg| %>
  <div class="alert alert-warning alert-dismissible">
    <button class='close visible' data-dismiss='alert' style ='visible'>
    <small><sup></sup></small>
    </button>
    <%=content_tag(:div, msg)%>
  </div>
<% end %>
      