<div id = "edit_form">
  <%= form_with model: @task, class: "create-book" do |f|%>
  <p>Please provide the following information to edit your task in our database:</p>

  <%= f.text_field :name, placeholder: "Task Name" %>

  <%= f.text_field :description, placeholder: "Description"%>

  <%= f.submit "Edit Task", class: "task-button" %>
  <% end %>
</div>
