<h4>Edit Task</h4>

<%# Source: https://www.rubyguides.com/2019/11/rails-flash-messages/ %>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<p>Please make your changes to this task:</p>

<%= render "task_form" %>

<nav>
  <%= button_to "View All Tasks", root_path, method: :get %>
</nav>