<body class="wholelist">
<h2 class="title">Today's to-do's:</h2>

  <% if @tasks.length > 0 %>
    <ul class="tasklist">
      <% @tasks.each do |task|%>
        <li>
          <%= task[:name]%> : <%= task[:description] %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h3>No tasks in the system!</h3>
  <% end %>

</body>