<h1>Task List</h1>
<% if @tasks.length > 0 %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.name, task_path(task.id) %>
        -
        <%= task.description %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No tasks in the system!</h3>
<% end %>

<%= link_to "Add Task", new_task_path %>