<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %> /
      Description: <%= task.description %> /
      Completed: <%= task.completed_at ? task.completed_at : "Not Completed"%>
    </li>
    <% end %>
</ul>
