<h2>current tasks</h2>
<main>
  <ul class="task-list">
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task)%>
    </li>
  <%end%>
  </ul>
  <%= link_to "add new task", new_task_path, class: "button" %>
</main>

<%#= button_to "Edit #{book.title}", edit_book_path(book.id) %>