<h3>YOUR TASKS</h3>

<% if @tasks.length > 0 %>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <span>
          <%= link_to task[:name], task_path(task) %>
          <%= button_to "Edit", edit_task_path(task[:id]), method: :get %>
        </span>
      </li>
    <% end %>
  </ol>
<% else %>
  <h3>No tasks in the system!</h3>
<% end %>

<nav>
  <button><%= link_to "Add Task", new_task_path %></button>
</nav>