<h2>YOUR TASKS</h2>

<%if @tasks.length > 0 %>
  <ol> 
    <% @tasks.each do |task| %>
      <li> <%= task.name %>: <%= task.description %><%= link_to "Edit", edit_task_path(task) %></li>
    <% end %>
  </ol>
<% else %>
  <h2>No tasks in the system!</h2>
<% end %>