<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= task.name %> : <%= link_to task.description, task_path(task.id) %><%=
   completed_string(task) %><%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure?"}%></li>
  <% end %>
</ul>
