<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task[:id] %> - 
      <%= task[:name] %> : 
      <%= task[:description] %>
      <%= task[:completed_at].nil? ?
        "(not completed)" :
        "(completed at " + task[:completed_at].to_s + ")"
      %>
    </li>
  <% end %>
</ul>