

<ol>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed_at %>
       <s><%=link_to task.name, task_path(task.id)%></s>
      <%else%>
       <%=link_to task.name, task_path(task.id) %>
      <%end%>
      <button><%= task.completed_at ? link_to("Unmark Complete", mark_complete_path(task.id), method: :patch) : link_to("Mark Complete", mark_complete_path(task.id), method: :patch) %></button>
    </li>
  <% end %>
</ol>



