<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task.name %>
      <%= task.description %>
      <%=task.completed_at %>
      <button><a href='/tasks/<%= task.id %>'>Show</a></button>
    </li>
  <% end %>
</ul>