<%# app/views/tasks/index.html.erb%>
<h3>Your Tasks</h3>

<% if @tasks.length > 0 %>
  <ul>
    <% @tasks.each do |task| %>
      <li> 
        <p><%= task.name %> (<%=  task.description %>) </p> 
        <p>&#9989 Complete?  <%= task.completed_at %> </p>
      </li>
    <% end %>
  </ul>
<% else %>
  You currently have no tasks at hand. Yay!
<% end %>