<%# app/views/tasks/index.html.erb%>
<h3>Your Tasks</h3>

<% if @tasks.length > 0 %>
  <ul>
    <% @tasks.each do |task| %>
      <li> 
        <%= link_to task.name, task_path(task.id) %>
        (<%= task.description %>)
        <%= link_to "[DELETE]", remove_task_path(task.id) %>

        <p>&#9989 Complete?  <%= task.completed_at %> </p>
      </li>
    <% end %>
  </ul>
<% else %>
  You currently have no tasks at hand. Yay!
<% end %>