<h1>Tasks List</h1>

<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task[:name] %> is assigned to complete <%= task[:description] %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_task_path %>