<h2> Task: <%= @task.name.capitalize()%> </h2>


 <p> Description: <%= @task.description.capitalize()%><p>



 <%= button_to "Edit Task", edit_task_path(@task), :method => "get" %>

 <%= button_to "Delete", @task, :method => "delete", data: {confirm: "Are you sure?"} %>

 

 

  