<h3>About <%= @task[:name] %></h3>
<p><%= @task[:description] %></p>
<div>
  <%= link_to "Edit Task âœï¸", edit_task_path(@task.id) %>
</div>
<div>
  <%= link_to "Delete ðŸš®", task_path(@task.id), method: :delete %>
</div>