<%# app/views/tasks/show.html.erb%>

<div class="view-body">
  <h3>&#128204 <%= @task.name%></h3>
  <p>&#10145 <%= @task.description%></p>
  <p>&#9989 Completed At...  <%= @task.completed_at %> </p>
  <%= link_to "Edit Task", edit_task_path(@task.id), class: "show-edit" %>
</div>