
@font-face {
  font-family: 'indie_flowerregular';
  src: url('./fonts/indieflower-regular-webfont.woff2') format('woff2'),
       url('./fonts/indieflower-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  /* border:solid rgb(175, 118, 111) 6px; */
  background-image: image-url('notepad.jpg');
  background-repeat: no-repeat;
  background-size: 1050px;
  background-position: 200px 0px;
  height: 700px;
  width: 800px;
  margin: 10px;
  display: flex;
}
.task-list{
  margin: 50px 0;
  margin-left: 150px;
  font-size: 15px;
  padding: 10px;
  height: auto;
  width: 900px;
  position: relative;
  left:  520px;
  top: 110px;
}
.show{
  margin: 50px 0;
  margin-left: 150px;
  font-size: 15px;
  padding: 10px;
  height: auto;
  width: 900px;
  position: relative;
  left:  500px;
  top: 200px;
  font-size: 20px;
  font-family: 'indie_flowerregular'
}

.new{
  margin: 50px 0;
  margin-left: 150px;
  font-size: 15px;
  padding: 10px;
  height: auto;
  width: 900px;
  position: fixed;
  left: 565px;
  top: 210px;
  font-size: 20px;
  font-family: 'indie_flowerregular'
}

.edit{
  margin: 50px 0;
  margin-left: 150px;
  font-size: 15px;
  padding: 10px;
  height: auto;
  width: 900px;
  position: fixed;
  left:  550px;
  top: 200px;
  font-size: 20px;
  font-family: 'indie_flowerregular'
}
header{
  font-size: 30px;
  padding: 20px;
  position: fixed;
  left: 380px;
  top: 100px;
}

button{
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 130px;
}

footer{
  margin-top: 700px;
  position: fixed;
  top: 90px;
  right: 450px;
  text-align: left;
  font-size: 10px;
}

.all-tasks{
  margin: 90px 5px;
  padding-bottom: 10px;
}

.task{
  /* margin: 20px; */
  padding-bottom: 9.5px;
  font-family: 'indie_flowerregular'
}
