// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  padding: 20px;
}

.wholelist {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red;
}

.tasklist {
  text-decoration: none;
  list-style: none;
  border: solid red;
}

.title {
  text-align: center;
  border: solid red;
  font-size: 48px;
}

.checkbox {
  width: 25px;
  height: 25px;
  padding: 10px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


